/* TABLET & PHONE */

@media screen and (max-width:786px){

    main, .enquires, .produce-content, .wedding{
        flex-direction: column;
        align-items: center;
    }

    .description{
        width: 100%;
    }

    /* HEADER */
    header div nav{
        display: none;
    } 
    .burger{
        display: block
    }    
        
    main .center{
        width:100%;
        text-align: justify;
    }
    main div ul li{
        margin: 15px 0;
        width: 100%;
    }

    .info{
        flex-direction: column;
    }
    .info-img{
        width: 100%;
        padding: 0;
    }

    .wedding .info{
        flex-direction: column-reverse;
    }
    menu {
        background-color: var(--logo-color);
        color: white;
        height: 15%;
        left: 0%;
        right: 100%;
        margin: 0;
        padding: 1.25rem;
        position: fixed;
        top: 0;
        transition: all 0.4s ease-in-out;
        visibility: hidden;
        width: 100%;
        z-index: 1;
        display: block;
    }
    
    menu ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: wrap;
        justify-content: space-evenly;

    }
    
    menu li {
      margin: 1rem;;
      font-size: 0.8rem;
    }
    
    menu a:hover {
      border-bottom: 1px solid white;
    }
    
    menu a:active {
      border-bottom: 1px solid grey;
    }
    
    .menu-open menu {
      visibility: visible;
    }
    
    .menu-open .line1 {
      background-color: white;
      margin-top: 16px;
      transform: rotate(45deg);
    }
    
    .menu-open .line2 {
      opacity: 0;
    }
    
    .menu-open .line3 {
      background-color: white;
      margin-top: -22px;
      transform: rotate(-45deg);
    }

    menu nav{
        height:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


/* TABLET */
@media screen and (min-width:546px) and (max-width:768px){

    main, .enquires, .produce-content, .wedding{
        padding: 20px 80px;
    }
 
    /* MAIN */
    main div ul{
        flex-direction: column;
        align-items: center;
    }
}






/* PHONE */
@media screen and (max-width:545px){
    body{
        text-align: center;
    }

    main, .enquires, .produce-content, .wedding{
        padding: 20px 20px;
    }
    
    /* MAIN */
    main div ul{
        flex-direction: column;
        align-items: center;
    }

    /* footer */

    footer div:first-of-type{
        flex-direction: column;
    }
}