/* ABOUT*/

main .center{
	flex-direction: column;
	width: 60%;
	text-align: center;
}

main div ul{
	display: flex;
	margin: 0;
}

main div ul li{
	margin: 15px;
	width: 33%;
}


main div ul li p{
	margin: 10px 0;
}

.about-img{
	height: 50vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 5px;
}

.boss{
	background-image: url(/docs/images/tomcabout.jpg);
}
.produce{
	background-image: url(/docs/images/produceabout.jpg);
}
.wedding-cheese-cakes{
	background-image: url(/docs/images/cheese-wedding-cake.jpg);
}
